*{
    padding: 0;
    margin: 0;
}

.fadein_visible{
    animation: fadein both 1.5s;
    visibility: visible !important;
}

@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

#title{
    height:250px;
    background-color: rgba(103, 153, 90, 0.1);
}

#title h1{
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
}

.list{
    display: flex;
    justify-content: center;
    font-family: 'Shippori Mincho', serif;
}

.list a{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    padding:50px 0px 10px 0px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-left: 270px;
    margin-right: 270px;
}

.list a::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #C95E3C;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  .list a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
  }

#sizen1{
    background: #D1E0CE;
    padding-bottom: 50px;
}

#sizen-title{
    height:150px;
}

#sizen-title h2{
    font-size: 36px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: #C95E3C;
    text-decoration-thickness: 10px;
}

  #sizen1 img{
    width:400px;
    height:250px;
    padding-top: 100px;
  }

  #sizen1 h2{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 128px;
    color: #C95E3C;
  }

  #sizen1 h3{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 24px;
    writing-mode: vertical-rl;
    padding-left: 80px;
    padding-top: 150px;
  }

  .sizen1{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom:80px;
  }

.sizen1-box1{
    display: flex;
    position: relative;
}

.sizen1-box1 h2{
    position: absolute;
    top: 0px;
    right: 120px;
}

  .sizen1-box2{
    display: flex;
    position: relative;
  }

  .sizen1-box2 h2{
    position: absolute;
    top: 0px;
    right: 120px;
  }

  .siretoko p{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 35px;
    line-height: 200%;
  }

  .yakushima p{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 35px;
    line-height: 200%;
  }

  .siretoko a{
    display: inline-block;
    justify-content: center;
    color: #C95E3C;;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    margin: 50px 180px 0px 180px;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
  }

  .siretoko a:hover{
    color: #fff;
    background-color: #C95E3C;;
  }

  .yakushima a{
    display: inline-block;
    justify-content: center;
    color: #C95E3C;;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    margin: 50px 180px 0px 180px;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
}

  .yakushima a:hover{
    color: #fff;
    background-color: #C95E3C;;
  }

  .sizen1-box3{
    display: flex;
    position: relative;
}

.sizen1-box3 h2{
    position: absolute;
    top: 0px;
    right: 140px;
}

  .sizen1-box4{
    display: flex;
    position: relative;
  }

  .sizen1-box4 h2{
    position: absolute;
    top: 0px;
    right: 120px;
  }

  .sizen1-box5{
    display: flex;
    position: relative;
  }

  .sizen1-box5 h2{
    position: absolute;
    top: 0px;
    right: 190px;
  }

  .shirakami p{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 35px;
    line-height: 200%;
  }

  .ogasawara p{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 35px;
    line-height: 200%;
  }

  .shirakami a{
    display: inline-block;
    justify-content: center;
    color: #C95E3C;;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    margin: 50px 180px 0px 180px;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
  }

  .shirakami a:hover{
    color: #fff;
    background-color: #C95E3C;;
  }

  .ogasawara a{
    display: inline-block;
    justify-content: center;
    color: #C95E3C;;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    margin: 50px 180px 0px 180px;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
}

  .ogasawara a:hover{
    color: #fff;
    background-color: #C95E3C;;
  }


  .tokunoshima p{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 35px;
    line-height: 200%;
  }

  .tokunoshima a{
    display: inline-block;
    justify-content: center;
    color: #C95E3C;;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    margin: 50px 180px 0px 180px;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
  }

  .tokunoshima a:hover{
    color: #fff;
    background-color: #C95E3C;;
  }

#bunka-title{
    height:150px;
}

#bunka-title h2{
    font-size: 36px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: #C95E3C;
    text-decoration-thickness: 10px;
}

.bunka-box1{
    display: flex;
    position: relative;
}

.bunka-box1 h2{
    position: absolute;
    top:0px;
    right: 150px;;
}

.bunka-box2{
    display: flex;
    position: relative;
}

.bunka-box2 h2{
    position: absolute;
    top: 0px;
    right: 140px;
}

.bunka-box3{
    display: flex;
    position: relative;
}

.bunka-box3 h2{
    position: absolute;
    top: 0px;
    right:150px;
}

.bunka-box4{
    display: flex;
    position: relative;
}

.bunka-box4 h2{
    position: absolute;
    top: 0px;
    right: 150px;
}

.bunka-box5{
    display: flex;
    position: relative;
}

.bunka-box5 h2{
    position: absolute;
    top: 0px;
    right: 160px;
}

.bunka-box6{
    display: flex;
    position: relative;
}

.bunka-box6 h2{
    position: absolute;
    top: 0px;
    right: 185px;
}

.bunka-box7{
    display: flex;
    position: relative;
}

.bunka-box7 h2{
    position: absolute;
    top: 0px;
    right:150px;
}

.bunka-box8{
    display: flex;
    position: relative;
}

.bunka-box8 h2{
    position: absolute;
    top: 0px;
    right: 140px;
}

.bunka-box9{
    display: flex;
    position: relative;
}

.bunka-box9 h2{
    position: absolute;
    top: 0px;
    right:180px;
}

.bunka-box10{
    display: flex;
    position: relative;
}

.bunka-box10 h2{
    position: absolute;
    top: 0px;
    right: 140px;
}