*{
    margin:0;
    padding:0;
}

.fadein_visible{
    animation: fadein both 1.5s;
    visibility: visible !important;
}

@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.bg-switcher{
    width:100vw;
    height:100vh;
    background-image: url(/images/bg-image1.jpeg);
    background-position: center center;
    background-size: cover;
}

.title h1{
    font-size: 48px;
    font-weight: bold;
    color: #000;
    -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    text-orientation: upright;
}

.title{
    display: flex;
    justify-content: center;
}

.title-1{
    padding-left: 50px;
    margin-top:150px;
}

.title-2{
    margin-top: 300px;
}

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
  top:-120%;
    left:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#E2957C;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
    text-align: center; 
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: 'Shippori Mincho', serif;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #C95E3C;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


#about{
    height:auto;
}

.about-content{
    display: flex;
    justify-content: flex-end;
}

.about-content h2{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    padding:180px 50px 100px 0px;
    writing-mode: vertical-rl;
    margin-right: 150px;
}

.about-content p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    writing-mode: vertical-rl;
    letter-spacing: 10px;
    padding-left: 75px;
}

.about-text{
    display: inline-block;
    padding: 50px 50px 50px;
    line-height: 600%;
}

.about-content img{
    width: 550px;
    height: 320px;
    padding: 120px 0px 50px 100px;
    margin-left: 100px;
}

#point1{
    background-color:rgba(103,153, 90,0.1) ;
    height: 690px;
}

.point-content1{
    display: flex;
    justify-content: center;
}

.point-content1 p{
    writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
    letter-spacing: 10px;
    line-height: 75px;
    padding:130px 30px 100px 20px;
    font-weight: bold;
}
.point-content1 h3{
    writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    font-size: 32px;
    padding-right: 70px;
    padding-top: 80px;
    letter-spacing: 10px;
}

.point-content1 h4{
    font-size: 128px;
    font-family: 'Shippori Mincho', serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-top: 60px;
    padding-right: 60px;
}

.image-box1{
    position:relative
}

.image-box1 h4{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #C95E3C;
}

.point-content1 img {
    width: 500px;
    height:500px;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 110px;
}

#point2{
    background-color:rgba(103,153, 90,0.1) ;
    height: auto;
}

.point-content2{
    display: flex;
    justify-content: center;
}

.point-content2 p{
    font-size: 16px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 10px;
    line-height: 63px;
    padding:130px 100px 100px 10px;
}

.point-content2 h3{
    font-size: 32px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 10px;
    padding-right: 50px;
    padding-top: 80px;
    letter-spacing: 10px;
}

.point-content2 h4{
    font-size: 128px;
    font-family: 'Shippori Mincho', serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.point-content2 img{
    width: 500px;
    height:500px;
    padding-top: 120px;
    padding-left: 30px;
}

.image-box2{
    position: relative;
}

.image-box2 h4{
    position: absolute;
    top: 50px;
    left: 0px;
    color: #C95E3C;
}

#point3{
    background-color:rgba(103,153, 90,0.1) ;
    height: auto;
}

.point-content3{
    display: flex;
    justify-content: center;
}

.point-content3 p{
    font-size: 16px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 10px;
    line-height: 90px;
    padding:100px 30px 100px 50px;
}

.point-content3 h3{
    font-size: 32px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 10px;
    padding-right: 35px;
    padding-top: 50px;
}

.point-content3 h4{
    font-size: 128px;
    font-family: 'Shippori Mincho', serif;
    color: #C95E3C;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.point-content3 img{
    width: 500px;
    height: 500px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 110px;
}

.image-box3{
    position: relative;
}

.image-box3 h4{
    position: absolute;
    top:30px;
    right:65px;
}

#heritage{
    margin-bottom: 10px;
}

.heritage-content{
    display: flex;
    justify-content: center;
}

.heritage-content h3{
    font-size:  32px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    writing-mode: vertical-rl;
}

.heritage-content h2{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    writing-mode: vertical-rl;
    padding-top: 140px;
    padding-left:85px;
    padding-right: 65px;
}

.heritage-content p{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    letter-spacing: 10px;
    line-height: 60px;
    writing-mode:vertical-rl;
    padding-top: 220px;
}

#heritage a{
    position: relative;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Shippori Mincho', serif;
    color:black;
    font-size: 20px;
    margin-top:50px;
    margin-bottom: 80px;
    text-decoration: none;
    margin-right:760px;
    margin-left: 760px;
    padding:10px 10px 20px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

#heritage a::after {
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #C95E3C;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

#heritage a:hover::after{
    text-decoration:underline;
    transform: scale(1, 1);
}

#heritage img{
    width:29px;
    height:110px;
}

.heritage-box1{
    position: relative;
    padding-top: 280px;
    padding-left: 50px;
}

.heritage-box1 h3{
    position:absolute;
    top:250px;
    right:0px;
}

.heritage-box2{
    position:relative;
    padding-top: 280px;
    padding-left: 50px;
}

.heritage-box2 h3{
    position:absolute;
    top:250px;
    right:0px;
}

#style{
    height:700px;
    margin-left:180px;
}

.style-box1{
    display: flex;
    justify-content: space-between;
}

.style-box1 h2{
    writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
}

.style-box1 p{
    writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 100px;
    letter-spacing: 10px;
    text-orientation: upright;
    padding-bottom: 30px;
}

.style-box2 h3{
    font-size: 50px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    color: #fff;
    letter-spacing:33px;
    background-color:#E2957C ;
    writing-mode: vertical-rl;
}

.style-box1 h2{
    font-size: 96px;
    color: #C95E3C;
}

span{
    font-size: 64px;
    color:#fff;
    padding-top: 50px;
}

.style-box3{
    background-color:rgba(103,153, 90,0.6);
    display: flex;
    height:500px;
    padding:80px 170px 0px 50px;
}

.style-image-box img{
    width: 253px;
    height: 272px;
}

.style-image-box{
    position: relative;
}

.style-image-box h2{
    position: absolute;
    top: 45px;
    right: 55px;
}

.style-content1 a{
    position: relative;
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-left: 380px;
    background-color: #fff;
    padding:10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.style-content1 a::after {
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #C95E3C;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

.style-content1 a:hover::after{
    text-decoration:underline;
    transform: scale(1, 1);
}

.style-content1{
    display: inline-block;
    justify-content: center;
}

#style1{
    height:700px;
    margin-right:180px;
}

.style-box4{
    display: flex;
    justify-content: space-between;
}

.style-box4 h2{
    font-size: 96px;
    writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    color: #C95E3C;
}

.style-box4 p{
    writing-mode: vertical-rl;
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 10px;
    text-orientation: upright;
    padding-bottom: 100px;
    padding-left: 100px;
}

.style-box6 h3{
    font-size: 50px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    color: #fff;
    letter-spacing:33px;
    background-color:#E2957C ;
    writing-mode: vertical-rl;
}

.style-box5{
    background-color:rgba(103,153, 90,0.6);
    display: flex;
    height:500px;
    padding:80px 80px 0px 150px;
}

.style-image-box1 img{
    width: 253px;
    height: 272px;
}

.style-image-box1{
    position:relative
}

.style-image-box1 h2{
    position: absolute;
    top: 45px;
    right: 55px;
}

.style-content2 a{
    position: relative;
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-left: 380px;
    background-color: #fff;
    padding:10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.style-content2 a::after {
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #C95E3C;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

.style-content2 a:hover::after{
    text-decoration:underline;
    transform: scale(1, 1);
}

.list-all{
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 30px;
    height:700px;
}

.list-all h3{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 10px;
}

.h3-type1{
    padding-top: 90px;
}

.h3-type2{
    padding-top:150px;
}

.h3-type3{
    padding-top:130px;
}

.list-all h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 36px;
    padding-top:60px;
    padding-left: 30px;
    padding-right: 30px;
}

.list-all p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 300%;
    padding-right: 26px;
    padding-top: 150px;
}

.list-all img{
    width: 183px;
    height: 183px;
    padding-top: 265px;
}

.list-image-box1 img{
    width:80px;
    height:178px;
    padding-top:150px;
}

.list-image-box1{
    position:relative;
    padding-top: 100px;
}

.list-image-box1 .h3-type1{
    position:absolute;
    top: 100px;
    right: 5px;
}

.list-image-box1 .h3-type2{
    position: absolute;
    top: 112px;
    right: 38px;
}

.list-image-box2 img{
    width: 34px;
    height:77px;
    padding-top: 250px;
}

.list-image-box2{
    position: relative;
}

.list-image-box2 .h3-type3{
    position: absolute;
    top:130px;
    right:0px;
}

#conclusion{
    width: 100vw;
    height:100vh;
    background-color: #D1E0CE;
    display: flex;
    justify-content: center;
}

#conclusion h2{
    writing-mode: vertical-rl;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 64px;
    padding-top: 350px;
    padding-left: 150px;
}

#conclusion p{
    padding-top: 100px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 15px;
    line-height: 50px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 18px;
}

footer{
    height:40px;
    background-color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    letter-spacing: 2px;
}